.card {
    padding: 15px;
    text-align: left;
    
    
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
}

.card h3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #222;
    line-height: 1.3;
    min-height: 20px;
}

.card p {
    margin-top: 15px;
    font-size: 17px;
    line-height: 1.8;
    color: #8a8a8a;
    min-height: 50px;
}

.card a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

.discover-card {
    background: #0f0f16;
    color: white;
    padding: 35px;
    border-radius: 15px;
    height: 100%;
}

.discover-card h3 {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 25px;
}

.discover-card p {
    color: #c8c8c8;
    line-height: 1.8;
}

.discover-card a {
    display: inline-block;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}




/* .card,
.discover-card {
  width: 100%;
  padding: 1px;
  display: grid;
  gap: 20px;
  
  
}

.card img {
  width: 90%;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
}

.card h3 {
  margin-top: 15px;
  font-size: 28px;
}

.card p {
  color: gray;
  line-height: 1.6;
}

.card a{
  text-decoration: none;
  color: black;
}

.discover-card{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 20px;
    justify-content: center;
    border-radius: 16px;
    height: 100%;
}

.discover-card p{
    color: rgb(255, 255, 255);
    margin: 15px;
}

.discover-card a {
    text-decoration: none;
    color: white;
    font-size: small;
    cursor: pointer;
}

.discover-card h3{
    color: rgb(255, 255, 255);
    margin: 15px;
} */















/* 

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 0;
    max-width: 1320px;
    padding: 50px;
    gap: 20px;
    
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.card h3 {
    margin: 10px;
    font-size: 18px;
    
}

.card p {
    margin: 10px;
    color: #1717179e;
    margin-bottom: 10px;
    line-height: 1.5;
}

.card a {
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-size: small;
    
    

}
.card {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    margin: 40px auto;
    max-width: 1320px;
    padding: 50px;
    gap: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.card h3 {
    margin: 10px;
    font-size: 18px;
}

.card p {
    margin: 10px;
    color: #1717179e;
    margin-bottom: 10px;
    line-height: 1.5;
}

.card a {
    margin: 20px;
    text-decoration: none;
}
.box {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px;
    justify-content: center;
    border-radius: 16px;
}

.box p{
    color: rgb(255, 255, 255);
    margin: 15px;
}

.box a {
    text-decoration: none;
    color: white;
    font-size: small;
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 80px auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
} */